@charset "UTF-8";




//border mixin
@mixin border($width:1px,$style:solid,$color:#ccc){
  border:$width $style $color;
}

@mixin border-bottom($width:1px,$style:solid,$color:#ccc){
  border-bottom: $width $style $color;
}

@mixin border-top($width:1px,$style:solid,$color:#ccc){
  border-top: $width $style $color;
}

@mixin border-left($width:1px,$style:solid,$color:#ccc){
  border-left: $width $style $color;
}

@mixin border-right($width:1px,$style:solid,$color:#ccc){
  border-right: $width $style $color;
}

// triangle mixin
@mixin triangle-up($width:6px,$color:#333){
  width: $width;
  border:$width solid transparent;
  border-bottom: $width solid $color;
}
@mixin triangle-bottom($width:6px,$color:#333){
  width: $width;
  border:$width solid transparent;
  border-top: $width solid $color;
}
@mixin triangle-left($width:6px,$color:#333){
  width: $width;
  border:$width solid transparent;
  border-right: $width solid $color;
}
@mixin triangle-right($width:6px,$color:#333){
  width: $width;
  border:$width solid transparent;
  border-left: $width solid $color;
}
